.navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    top: 0;
}

.navbar-left {
    display: flex;
    padding: 1rem 1rem 1rem 2rem;
    align-items: center;
}

.navbar-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.links {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.logo {
    font-family: "Bebas Neue", sans-serif;
    font-size: xx-large;
    letter-spacing: 0.1rem;
}

.link {
    margin: 1rem;
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    background-color: transparent;
    outline: none;
    border:none;
    color: #f2f0ef;
    text-decoration: none;
}

button:focus{
    color: darkgray;
    outline: none;
    border: none
}

button:hover{
    border: none
}

@media screen and (max-width: 700px) {
    .navbar {
        position: absolute
    }
}