body {
  background-image: url("./images/DSCF3600-80.jpg");
  background-size: cover;
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.55);
  place-items: unset;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}

.intro {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}