.navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    top: 0;
}

.navbar-left {
    display: flex;
    padding: 1rem 1rem 1rem 2rem;
    align-items: center;
}

.navbar-right {
    display: flex;
    padding: 1rem;
    flex-direction: row;
    justify-content: space-between;
}

.links {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.logo {
    font-family: "Bebas Neue", sans-serif;
    font-size: xx-large;
    letter-spacing: 0.1rem;
}

.link {
    margin: 1rem;
    font-family: 'Ubuntu', sans-serif;
}

a, a:focus, a:active {
    text-decoration: none;
    color: #f2f0ef
}

a:hover {
    text-decoration: none;
    color: #949392
}