.projectsContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    align-items: center;
    justify-content: space-evenly;
    background-image: url("./images/rocks-2539.jpg");
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.55);
}

.buttonContainer {
    display: flex;
    align-items: center;
}

.programmingButton {
    margin-right: 0.25rem;
    opacity: 82%;
    color: white;
}

.photographyButton {
    margin-left: 0.25rem;
    opacity: 82%;
    color: white;
}

.carouselContainer {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.leftArrow {
    margin-left: 2rem;
    border-radius: 100%;
    width:2rem;
    height:2rem;
    padding: 0px;
    line-height: 0px;
}

.rightArrow {
    margin-right: 2rem;
    border-radius: 100%;
    width:2rem;
    height:2rem;
    padding: 0px;
    line-height: 0px;
}
